@import "tailwindcss";

/* Font */
@font-face {
  font-family: MontserratT;
  src: url(./assets/font/Montserrat/static/Montserrat-Bold.ttf) format("truetype");
  /* font-weight: bold;*/
}

@font-face {
  font-family: Lato;
  src: url(./assets/font/Lato/Lato-Regular.ttf) format("truetype");
  /* font-weight: bold;*/
}

@font-face {
  font-family: NotoTTSans;
  src: url(./assets/font/Noto_Sans/static/NotoSans-Regular.ttf) format("truetype");
  
}

@font-face {
  font-family: custom;
  src: url(./assets/font/Noto_Sans/static/NotoSans-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: EduHand;
  src: url(./assets/font/animal_chariot/Animal\ Chariot.ttf) format("truetype");
  font-weight: bold;
}


@font-face {
  font-family: OpenSans;
  src: url(./assets/font/Open_Sans/static/OpenSans-Regular.ttf) format("truetype");
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

/* NAV */

.NavElement{
  z-index: 100;
}
.itemNav{
  display: flex;
  flex-direction: column;
  background-color: #29292938 ;
  mix-blend-mode: difference;
  filter: invert(100%);


  border-radius: 25px 25px 25px 25px;
  padding: 10px;

  z-index: 30;
}

.itemNav svg {
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;

  fill: rgb(114, 114, 114);
  mix-blend-mode: difference;

  width: 40px;

}

.itemNav svg:hover {
  background-color: #555555;
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;
  fill: #292929;
  width: 40px;

}

.NavDarkMode .itemNav svg {
  fill: #dbdbdbea;
}



/* HERO */
.HeroContent{
  height: 100vh;
  
  
}


.h3Hero{
  font-family: system-ui;
  font-size: 35px;
}

.HeroTitle{
  position: absolute;
  top: 27%;
  left: 9%;
}

@media (max-width: 1024px) {
  .HeroTitle{ top: 40%; }
}

@media (max-width: 768px) {
  .HeroTitle { top: 50%; }
}

@media (max-width: 480px) {
  .HeroTitle { top: 47%; }
}

.WNUAI-section{
  position: absolute;
  top: 1%;
  right: 0.7%;
}

.WNUAI-section h3{
  font-size: clamp(15px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
}
.WNUAI-section:hover h3{
  font-size: clamp(15px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
  text-decoration: underline;
}

.ImagePfp{
  position: absolute;
  top: 17%;
  right: 10%;
  width: clamp(130px, 54vw, 540px);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}





.ImagePfp img{
  width: 100%;
  object-fit: contain;
}

.HeroBanner{
  position: absolute;
  top: 58%;
  left: 4%;
  width: 700px;
  font-size: clamp(20px,16vw,190px);
  font-family: MontserratT;
  font-weight: bold;
}

/* WORKS on responsive layout */
@media (max-width: 1700px) {
  .ImagePfp { 
    top: 7%;
    width: clamp(240px, 42vw, 400px);
  }

  .ContourImagePfp circle{
    r: clamp(130px, 22.5vw, 210px) !important;
  }

  .HeroTitle {
    position: absolute;
    top: 35%;
    left: 9%;
  }


}

@media (max-width: 1500px) {
  .HeroTitle {
    position: absolute;
    top:48%;
    left: 9%;
  }

  .h3Hero {
    width: clamp(300px, 80vw, 800px);
    font-size: clamp(28px, 3vw, 35px) !important;
  }

  .HeroBanner{
    position: absolute;
    top: 65%;
    left: 4%;
    width: 700px;
    font-size: clamp(20px,16vw,190px);
  }
}

@media (max-width: 700px) {

  .HeroTitle {
    position: absolute;
    top: 44%;
    left: 9%;
  }


  .h3Hero {
    width: clamp(300px, 80vw, 800px);
    font-size: clamp(28px, 3vw, 35px) !important;
  }


  .HeroBanner{
    position: absolute;
    top: 72%;

  }
}


@media (max-width: 480px) {
  .HeroBanner{
    position: absolute;
    top: 78%;
    left: 4%;
    width: 700px;
    font-size: 60px;
    font-family: MontserratT;
    font-weight: bold;
  }
}

.ContourImagePfp{
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 10;
  fill: white;
}


.ContourImagePfp circle{
  r: clamp(125px, 28.4vw, 284px);
}

.h3Hero{
  width: clamp(300px, 80vw, 800px);
  font-size: clamp(22px, 3vw, 35px);
  
}



.itemHeroSocials{
  
  display: flex;
  flex-direction: column;
  background-color: #202020 ;
  mix-blend-mode: difference;
  filter: invert(100%);
  gap: 5px;


  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.itemHeroSocials svg {
  margin: 5px 1px 5px 3px;
  padding: 2px;
  border-radius: 10%;
  fill: #e7e7e7ea;
  width: 40px;

}

.itemHeroSocials svg:hover {
  background-color: #555555;
  margin: 5px 1px 5px 3px;
  padding: 1px;
  border-radius: 10%;
  width: 40px;

}


.HighLightSpan {
  position: relative;
}

.HighLightSpan::before{
	--mark-color: #fce07ddc;
	--mark-skew: 0.25em;
	--mark-height: 1em;
	--mark-overlap: 0.3em;


  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform-origin: left;

  scale: var(--p, 0) 1;



	margin-inline: calc(var(--mark-overlap) * -1);
	padding-inline: var(--mark-overlap);

	background-color: transparent;
	background-image:
		linear-gradient(
			to bottom right,
			transparent 50%,
			var(--mark-color) 50%
		),
		linear-gradient(
			var(--mark-color),
			var(--mark-color)
		),
		linear-gradient(
			to top left,
			transparent 50%,
			var(--mark-color) 50%
		)
	;
	background-size:
		var(--mark-skew) var(--mark-height),
		calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
		var(--mark-skew) var(--mark-height)
	;
	background-position:
		left center,
		center,
		right center
	;
	background-repeat: no-repeat;
	color: inherit;

  -webkit-box-decoration-break: clone;
	box-decoration-break: clone;

  

}

.BlackBackgroundCool{

}
/* ABOUT */
.AboutBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  height: 110vh;

}
.AboutContent{
  margin: 75px 0px 0px 0px;
  border-radius: 20px;
  background-color: #323339;
  z-index: 1;
  width: 1000px;
  height: 500px;
}

@layer components {
  .noisy {
      @apply   size-full bg-[url("/assets/images/noise.png")];
  }
}

.Text{
  font-family: MontserratT;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

span.highlightGreen{
  color: #4b9e77; /* couleur secondaire */
  text-shadow:
    0 0 15px  #63b48fe1,
}

.AboutMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.imgPfpAboutMe{
  max-width: 180px;
}

.pAboutMe{
  max-width: 450px;
  text-align: center;
}

.Skills{
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.SkillsTitle{
  text-align: center;
  margin: 4% 4%;
}
.skillsWebDevlopment {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  } 

.skillsWebDevlopmentItems img{
  max-width: 80px;
  max-height: 70px;
}

.skillsWebDevlopmentItems p, .OthersItems p{
  font-size: 10px;
  text-align: center;
}
.Others{
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;


}


.OthersItems img{
  max-width: 80px;
  max-height: 70px;
}

.OthersItems, .skillsWebDevlopmentItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 4%;
}

.drawerItem{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.titledrawer{
  display: flex;
  align-items: center;  
  justify-content: center;
  margin-right: 10px;
}

.titledrawer h3 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}



.drawerWebDevelopmentSkills, .drawerOthersSkills{
  display: flex;
  flex-direction: row;
}

.AboutBackground {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutContent {
  transform-origin: center center;
  will-change: transform;
}


/* WORKS on responsive layout */
@media (max-width: 1000px) {
  .Text{
    font-family: MontserratT;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 8px 50px 8px;
    width: 90%;
    gap: 50px;
  }
  .AboutContent{
    margin: 75px 0px 0px 0px;
    border-radius: 20px;
    background-color: #323339;
    z-index: 1;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .AboutBackground{
    height: 100%;
  }
  .BlackBackgroundCool{
    height: 100%;
  }
  .NaBas {
    height: clamp(10px, 3vw, 120px) !important;

  }

  .NaHaut{
    height: 40px !important;
  }

  .NANA {
    height: 140px !important;
  }
  
}

@media (max-width: 1500px) {

}

@media (max-width: 700px) {
  .AboutContent{
    margin: 75px 0px 0px 0px;
    border-radius: 20px;
    background-color: #323339;
    z-index: 1;
    width: 90%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}


@media (max-width: 480px) {
  .AboutContent{

    width: 95%;

  }
  .NaHaut{
    height: 10px !important;
  }
  .NANA {
    height: 120px !important;
  }
}




/* PROJECT */
.ProjectSection{

}

.NaHaut{
  height: 100px;
  width: 100%;
  background-color: black;
}

.NANA{
  height: 170px;
  width: 100%;

  --topColor: 0;

  --botColor: 0;

  background: linear-gradient(
    180deg,
    rgba(var(--topColor), var(--topColor), var(--topColor), 1) 0%,

    rgba(var(--botColor), var(--botColor), var(--botColor), 1) 100%
  );
}

.NaBas{
  height: 120px;
  width: 100%;
  background-color: white;
}

.ProjectSectionFlex{
  display: flex;
  justify-content: center;
  align-items: center;
}


.ContentProject{
  position: relative;
  height: 800px;
  width: 1500px;
  border: solid 3px rgba(255, 72, 0, 0);
}
#imgFrontScreen{
  position: absolute;
  top: 47%;
  left: 50%;
  width: 60%;

  transform: translate(-50%, -50%);
  z-index: 12;
  background-color: white;

}

.boxScreen{
  z-index: 20;
  height: 80%
}





.boxScreen div.HoverBoxScreen{
  position: absolute;
  top: 2%;
  left: 1.5%;
  width: 97%;
  height: 77%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 14;
  transition: filter 0.3s ease-out;
}

.boxScreen div.HoverBoxScreen p{
  font-size: clamp(20px,3vw,35px);
  font-family: MontserratT;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -1px;

  color:#9b9b9b;

  transition: all 0.3s ease-out;
}

.boxScreen div.HoverBoxScreen:hover p{
  color:#202020;
  transition: all 0.3s ease-out;
}

#CenterScreen{
  transition: filter 0.3s ease-out;
}
#CenterScreen:hover, .boxScreen:hover #CenterScreen {
  filter:
    drop-shadow(0 0 12px rgb(179, 179, 179))
    drop-shadow(0 0 7px rgb(207, 207, 207));
    transition: filter 0.3s ease-out;
}
.DecaleBoxSideScreen{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EffectDecale{
  
  height: 100%;
  width: 96%;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2%;
  z-index: 5;

}


.drawerDecalScreen{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 150px;

  gap: 3%;
  transform:  rotateZ(0deg) rotateY(5deg);
}

.drawerDecalScreen img{
  width: 55px;
  transform: translateX(3em) scale(1.1);
  transition: 0.1s linear;
}


.drawerDecalScreen p{
  font-size: clamp(16px,2vw,21px);
  font-family: MontserratT;
  font-weight: bold;
  text-transform: uppercase;

  opacity: 0;
  transform: translateY(1em) scale(1.0);

}

.drawerDecalScreen:hover img{
  transform: translateX(0em) scale(1.0);
  transition: 0.1s linear;
}

.drawerDecalScreen:hover p{
  transform: translateX(0em) scale(1.0);
  transition: 0.2s linear;
  
  opacity: 1;
}

.SideScreen{
  position: absolute;
  top: 58%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 19%;
  transition: filter 0.3s ease;
  z-index: 2;
}
.SideScreen:hover #imgCoteScreen {
  filter:
    drop-shadow(0 0 12px rgba(88, 161, 221, 0.6))
    drop-shadow(0 0 7px rgba(44, 83, 255, 0.4));
    transition: filter 0.5s ease;
}
.SideScreen #imgCoteScreen {
  transition: filter 0.5s ease;
}


.imgPlanteSpace{
  position: absolute;
  top: 42%;
  left: 73%;
  
  width: 27%;


}

#imgPlante{
  transition: filter 0.3s ease;
  z-index: 8;
}
.hoverZonePlant{
  z-index: 12;
  position: absolute;
  width: 50%;
  height: 90%;
  left: 25%;
}

.hoverZonePlant:hover + #imgPlante {
  filter:
    drop-shadow(0 0 12px rgba(200, 255, 221, 0.6))
    drop-shadow(0 0 7px rgba(150, 255, 150, 0.4));
    transition: filter 0.3s ease;
}




#imgCup{
  position: absolute;
  top: 58%;
  left: 14%;
  z-index: 12;
  width: 10.5%;
  transition: filter 0.3s ease;

  display: flex;
  flex-direction: column;
  gap: 7px;
}

#imgCup p{
  opacity: 0;

  font-family: MontserratT;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  /* text-transform: uppercase; */
  text-align: center;

  font-size: clamp(5px,3vw,20px);

  color: rgb(202, 86, 86);
  text-shadow: rgba(224, 60, 10, 0.63) 0px 0px 37px;

  transition: opacity 0.5s ease;
}

#imgCup:hover {
  filter:
    drop-shadow(0 0 10px rgb(202, 86, 86))
    drop-shadow(0 0 5px rgba(224, 60, 10, 0.63));
}


#imgCup:hover p{
  transition: opacity 0.7s ease;
  opacity: 1; 
}





#container3D{
  position: absolute;
  top: 53%;
  left: 78%;
  z-index: 10;
  width: 46%;
  transition: filter 0.5s ease;
}

#container3D:hover {
  filter:
    drop-shadow(0 0 12px rgba(221, 197, 88, 0.6))
    drop-shadow(0 0 7px rgba(255, 216, 44, 0.4));
    transition: filter 0.5s ease;
}

#container3Dimg{
  width: 580px;
  z-index: 15;
  position: relative;
}


/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5;
}

/* Modal */
.modal {
  position: absolute;
  inset: 15px;
  background: #111;
  color: white;
  border-radius: 24px;
  padding: 40px;
  --x: 50vw;
  --y: 50vh;

  clip-path: circle(0px at var(--x) var(--y));
  transition: clip-path 0.8s cubic-bezier(.4,0,.2,1);
  opacity: 1;
  z-index: 10;
}

/* Active */
.overlay.active {
  pointer-events: auto;

}

.overlay.active .modal {
  clip-path: circle(150% at var(--x) var(--y));
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
}



#container3D.transitioned{
 
  z-index: 10;
  clip-path: circle(150% at var(--cx) var(--cy));
}



.containerCoolMusic{
  display: flex;
  align-items: center;
  min-height: 110vh;

}


.containerSonsFlex{
  position: absolute;
  left: 7%;
  top: 8%;
  z-index: 11;
  padding: 3% 1% 1% 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerSonsFlexH1{
  font-size: 65px;
  font-weight: 730;
  text-align: center;
}

.containerSonsFlexP{
  font-size: 25px;
  color: grey;
  text-align: center;
  margin-bottom: 30px;
}

.containerSons{
  overflow-x: auto;
  overflow-y: hidden;
  width: 800px;

}


.Slider{
  display: grid;
  grid-auto-flow: column;        
  grid-auto-columns: 180px;      
  grid-template-rows: repeat(2, auto);



  gap: 16px;
  padding: 22px;

  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: max-content;
  scrollbar-width: auto;
}

.draggable {
  width: 150px;
  height: 150px;
  
  color: white;
  cursor: grab;

  user-select: none;
  scroll-snap-align: center;
}


.draggable img {
  pointer-events: none;
  -webkit-user-drag: none;

  width: 180px;
  border-radius: 8px;
}



.draggable:hover {
  z-index: 10;
}


.vinyle-dropzone{
  position: absolute;
  right: 5px;
  top: 0;
  width: 800px;
  height: 900px;

}


.vinyleEnLecture{
 
}

.VinyleSpace{
  position: absolute;
  right: 5px;
  top: 10px;
  width: 1600px !important;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Vinyle{
  margin-top: -50%;
  width: 750px;
  margin-left: 1180px;
  transform: skew(3deg);


}

.vinyleTourneDisque{
  aspect-ratio: 16 / 9;
  width: 100%; 
}

.reseauOverlay{
  position: absolute;
  left: 0%;
  top: 100%;
  z-index: 10;
  
}


.platform-links{
  height: 100%;
  width: 100%;
}

.audio-player-hub{
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;

  z-index: 60;
  margin-top: 160px;
}

.soundcloud-player, .youtube-player, .spotify-player{
  height: 340px;
  width: 500px;
  margin: 4% 3%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.soundcloud-player h6, .youtube-player h6, .spotify-player h6{
  font-size: 24px;
  margin: 3% 0%;
}

.InfoSon{
  display: block;
  position: fixed;
  background-color: #111;
  color: white;
  border-radius: 30px;
  font-size: 18px;

  padding: 1% 2%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  z-index: 15;

  box-shadow: 0px 0px 3px 5px #ececec; 

}

.highlightElement{
  font-weight: bold;
}

.highlightArtist{
  text-decoration: underline;
}

.containerLink{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}



.pin-wrapper {
  position: relative;
  height: 100%;
}


/* WORKS on responsive layout */
@media (max-width: 1500px) {
  .ContentProject {
    position: relative;
    height: 800px;
    width: 100%;
    border: solid 3px rgba(255, 72, 0, 0);
  }
  #imgFrontScreen{
    position: absolute;

    width: 60%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: white;
  }
}
@media (max-width: 800px) {
  #imgFrontScreen{
    position: absolute;

    width: 90%;
    transform: translate(-50%, -50%);
    z-index: 12;
    background-color: white;
  }

  .imgPlanteSpace{
    display: none;
  }
  #container3D{
    display: none;
  }
  .SideScreen{
    display: none;
  }
  #imgCup{
    display: none;
  }
}

@media (max-width: 1500px) {
  .drawerDecalScreen {
    width: 100%;
  }
  .drawerDecalScreen img {
    width: clamp(15px, 3.5vw, 55px);
    transform: translateX(clamp(1.5em, 5.5vw, 5em)) scale(1.1);
    transition: 0.1s linear;
  }
  .drawerDecalScreen p {
    font-size: clamp(10px,2vw,21px);
  }

  .ContentProject {
    position: relative;
    height: clamp(100px, 80vw, 800px);
    width: clamp(400px, 80vw, 1500px);
  }
  
}

@media (max-width: 700px) {

}


@media (max-width: 480px) {

}


/*Plant Part*/
.PlantSpace{
    width: 650px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.PlantSpaceCircle{
  position: absolute;
  
  left: 2%;
  top: 20%;
  width: 700px !important;
  height: 700px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.backgroundPlant{
  background-color: rgb(39, 66, 39)
}

.PlantImg{
  filter: 
  drop-shadow(0px 0px 50px rgba(43, 94, 43, 1));

}

.TitlePlantUpcoming{
  position: absolute;
  
  right: 6%;
  top: 54%;
  
  color: rgb(53, 117, 53);
  font-size: clamp(16px,16vw, 160px);
  font-family: MontserratT;
  font-weight: bold;
  text-transform: uppercase;

}

/*Front Screen Style */
.FreakingHugeCenter{
  position: absolute;
  top: 0%;




}
.viewportProjects {

  overflow: hidden; 
  position: relative;
}



.NavGalleryContainer {
  padding: 0px 20px 0px clamp(20px, 6vw, 60px);
}
.navGallery {
  align-items: center;
  justify-content: space-between;
  padding-top: 90px;
}
.NavGalleryContainer h3{

  font-family: MontserratT;
  font-size: clamp(10px, 5vw, 53px);
  padding: 20px 20px 0px 20px;

  color: var(--text-title-color) ;
  
  

}

.NavGalleryContainer h1{  
  
  font-family: MontserratT;
  font-size: clamp(20px, 8vw, 70px);
  font-weight: 700;
  text-transform: capitalize;
  justify-self: center;
  text-decoration-skip: ink;
  color: var(--text-title-color) ;

  text-align: center;
}

.DarkMode .itemNav svg {

  fill: #ecececea;

}



.DarkLightMode{
  padding-left: clamp(30px, 8vw, 80px);
  gap: 20px;
  padding-right: 20px;
}

 .Dark, .Light{
  padding: 3% 4%;
  
  width: 104px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  font-size: 18px;
  
}


.Dark{
  color: white;
  background-color: black;
  border: 3px rgb(0, 0, 0) solid;
}


.LightMode .Light{
  outline: 3px solid gray;
  outline-offset: 3px;
}

.DarkMode .Dark{
  outline: 2px solid gray;
  outline-offset: 6px;
}
.cls-1 {
  fill: none;
 
}
.Light{
  color: black;
  background-color: white;
  border: 3px white solid;
}


.LightMode {
  --background-color: rgb(236, 236, 236);
  --text-title-color: black;

  --FirstContain-color: white;
  --FirstContain-Label-color: rgba(36, 38, 39, 0.4);

  --SecondContain-color: rgba(65, 65, 65, 0.671);
  --SecondContain-Label-color: rgb(255, 255, 255);

  --ThirdContain-color: rgb(0, 0, 0);
  --ThirdContain-Label-color: rgba(233, 233, 233, 0.877);

  --First-Padlock-color: black;
  --First-Padlock-Label-color: white;

  --Second-Padlock-color: white;
  --Second-Padlock-Label-color: black;

}

.DarkMode {
  --background-color: rgb(39, 39, 39);
  --text-title-color: rgb(255, 255, 255);

  --FirstContain-color: rgba(65, 65, 65, 0.671);
  --FirstContain-Label-color: rgb(255, 255, 255);

  --SecondContain-color: rgb(0, 0, 0);
  --SecondContain-Label-color: rgba(233, 233, 233, 0.877);

  --ThirdContain-color: white;
  --ThirdContain-Label-color: rgba(26,27,28,0.4);

  
  --First-Padlock-color: white;
  --First-Padlock-Label-color: black;


  --Second-Padlock-color: black;
  --Second-Padlock-Label-color: white;

}


.closeGallery svg{
  fill: var(--text-title-color);
}


.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;

  
}

.parent div.relative{

  z-index: 10;
  border-radius: 15px;

  outline-offset: px;
  outline: 3px solid rgba(128, 128, 128, 0);


  transition: outline 0.3s ease-out, outline-offset 0.3s ease-out;

  overflow: hidden;
  
}


.parent div.relative:hover{
  outline-offset: 3px;
  transition: outline 0.3s ease-out, outline-offset 0.3s ease-out;
  outline: 3px solid gray;
}



.contentProjectGallery{
  overflow: scroll;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}




.BodyProjectGallery{
  padding: 1% 1%;
}

fontBeausite{
  font-family: "Beausite Classic Medium", "Beausite Classic Medium Placeholder", sans-serif;
}

.div1 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;

  display: flex;

  align-items: center;


  background-color: var(--FirstContain-color);
  color: var(--FirstContain-Label-color);
}

.div2 {
  grid-column-start: 3;

  background-color: var(--FirstContain-color);
  color: var(--FirstContain-Label-color);
  
}

.div3 {
  grid-column-start: 4;

  background-color: var(--FirstContain-color);
  color: var(--FirstContain-Label-color);
}

.div4 {
  grid-column-start: 3;
  grid-row-start: 2;

  background-color: var(--FirstContain-color);
  color: var(--FirstContain-Label-color);
}

.div5 {
  grid-column-start: 4;
  grid-row-start: 2;

  background-color: var(--First-Padlock-color);
  color: var(--First-Padlock-Label-color);


  font-size: clamp(16px, 4vw, 230px);

  font-family: MontserratT;
  font-weight: bold;
  text-transform: uppercase;
}

.div5 .bgreveallock1{
  background-color: var(--First-Padlock-color);
}
.div5 .bgreveallock1Hover{
  background-color: var(--First-Padlock-Label-color);
  
}
.div5 .textLock1{
  color: var(--First-Padlock-color);

}
.div5 .svgLock1{
  color: var(--First-Padlock-Label-color);
  fill: var(--First-Padlock-Label-color);
  height: 70%;
}


.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;

  background-color: var(--SecondContain-color);
  


}
.div6 h2{
  color: var(--SecondContain-Label-color);
}


.div7 {
  grid-column-start: 1;
  grid-row-start: 3;

  background-color: var(--ThirdContain-color);
}

.div7 h2{
  color: var(--ThirdContain-Label-color);
}


.div8 {
  grid-column-start: 1;
  grid-row-start: 4;
  background-color: var(--FirstContain-color);
  color: var(--FirstContain-Label-color);
}



.div9 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;

  background-color: var(--Second-Padlock-color);
  color: var(--Second-Padlock-Label-color);

  font-size: clamp(16px, 8vw, 230px);
  font-family: MontserratT;
  font-weight: bold;
  text-transform: uppercase;


}

.div9 {
  overflow: hidden;
}



.div9 .bgreveallock2{
  background-color: var(--Second-Padlock-color);
}
.div9 .bgreveallock2Hover{
  background-color: var(--Second-Padlock-Label-color);
}
.div9 .textLock2{
  color: var(--Second-Padlock-color);
}
.div9 .svgLock2{
  color: var(--Second-Padlock-Label-color);
  fill: var(--Second-Padlock-Label-color);
  height: 70%;
}


.Description{
  background-color: white;
  min-height: 100vh;

}

.grouped {
  display: contents;
}

.groupedCont {
  display: contents;
}

@media (max-width: 768px) {
  .parent {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  .grouped {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    width: 100%;
  }


  .grouped-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;


  }

  

  .grouped-div {
    width: 100%;
  }
  .grouped-middle {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .div9{
    aspect-ratio: 377 / 214;
    width: 100%;
  }
  .div5{
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .body{


  }
  .DarkLightMode{
    flex-direction: column;
    padding: 3%;
  }
  .grouped > div {
    width: 100%;
    min-width: 0;
  }
}

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}