@import "tailwindcss";

/* Font */
@font-face {
  font-family: MontserratT;
  src: url(../../public/assets/font/Montserrat/static/Montserrat-Bold.ttf);
  /* font-weight: bold;*/
}

@font-face {
  font-family: NotoTTSans;
  src: url(../../public/assets/font/Noto_Sans/static/NotoSans-Regular.ttf);
  font-weight: thin;
}

@font-face {
  font-family: custom;
  src: url(../../public/assets/font/Noto_Sans/static/NotoSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: EduHand;
  src: url(../../public/assets/font/animal_chariot/Animal\ Chariot.ttf);
  font-weight: bold;
}


@font-face {
  font-family: OpenSans;
  src: url(../../public/assets/font/Open_Sans/static/OpenSans-Regular.ttf);
  

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

/* NAV */
.itemNav{
  display: flex;
  flex-direction: column;
  background-color: #29292938 ;
  mix-blend-mode: difference;
  filter: invert(100%);


  border-radius: 25px 25px 25px 25px;
  padding: 10px;
}

.itemNav svg {
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;
  fill: #afafafea;
  width: 40px;

}

.itemNav svg:hover {
  background-color: #555555;
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;
  fill: #292929;
  width: 40px;

}



/* HERO */
.HeroContent{
  height: 100vh;
  
  
}


.h3Hero{
  font-family: system-ui;
  font-size: 35px;
}

.HeroTitle{
  position: absolute;
  top: 27%;
  left: 9%;
}

.WNUAI-section{
  position: absolute;
  top: 1%;
  right: 0.7%;
}

.WNUAI-section h3{
  font-size: clamp(10px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
}
.WNUAI-section:hover h3{
  font-size: clamp(10px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
  text-decoration: underline;
}

.ImagePfp{
  position: absolute;
  top: 17%;
  right: 10%;
  width: 540px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImagePfp img{
  width: 100%;
  object-fit: contain;
}

.HeroBanner{
  position: absolute;
  top: 58%;
  left: 4%;
  width: 700px;
  font-size: clamp(20px,16vw,190px);
  font-family: MontserratT;
  font-weight: bold;
}

.ContourImagePfp{
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 10;
  fill: white;
}

.h3Hero{
  width: 800px;
  
}



.itemHeroSocials{
  
  display: flex;
  flex-direction: column;
  background-color: #202020 ;
  mix-blend-mode: difference;
  filter: invert(100%);
  gap: 5px;


  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.itemHeroSocials svg {
  margin: 5px 1px 5px 3px;
  padding: 2px;
  border-radius: 10%;
  fill: #e7e7e7ea;
  width: 40px;

}

.itemHeroSocials svg:hover {
  background-color: #555555;
  margin: 5px 1px 5px 3px;
  padding: 1px;
  border-radius: 10%;
  width: 40px;

}


.HighLightSpan {
  position: relative;
}

.HighLightSpan::before{
	--mark-color: #fce07ddc;
	--mark-skew: 0.25em;
	--mark-height: 1em;
	--mark-overlap: 0.3em;


  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform-origin: left;

  scale: var(--p, 0) 1;



	margin-inline: calc(var(--mark-overlap) * -1);
	padding-inline: var(--mark-overlap);

	background-color: transparent;
	background-image:
		linear-gradient(
			to bottom right,
			transparent 50%,
			var(--mark-color) 50%
		),
		linear-gradient(
			var(--mark-color),
			var(--mark-color)
		),
		linear-gradient(
			to top left,
			transparent 50%,
			var(--mark-color) 50%
		)
	;
	background-size:
		var(--mark-skew) var(--mark-height),
		calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
		var(--mark-skew) var(--mark-height)
	;
	background-position:
		left center,
		center,
		right center
	;
	background-repeat: no-repeat;
	color: inherit;

  -webkit-box-decoration-break: clone;
	box-decoration-break: clone;

  

}

/* ABOUT */
.AboutBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

}
.AboutContent{
  margin: 20px;
  border-radius: 20px;
  background-color: #323339;
  z-index: 1;
  width: 1000px;
  height: 500px;
}

@layer components {
  
  .noisy {
      @apply   size-full bg-[url("/assets/images/noise.png")];
  }
}

.Text{
  font-family: MontserratT;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

span.highlightGreen{
  color: #4b9e77; /* couleur principale */
  text-shadow:
    0 0 15px  #63b48fe1,
}

.AboutMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.imgPfpAboutMe{
  max-width: 180px;
}

.pAboutMe{
  max-width: 450px;
  text-align: center;
}

.Skills{
  height: 100%;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.SkillsTitle{
  text-align: center;
  margin: 4% 4%;
}
.skillsWebDevlopment {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
  } 

.skillsWebDevlopmentItems img{
  max-width: 80px;
  max-height: 70px;
}

.skillsWebDevlopmentItems p, .OthersItems p{
  font-size: 10px;
  text-align: center;
}
.Others{
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-template-rows: repeat(2, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;


}


.OthersItems img{
  max-width: 80px;
  max-height: 70px;
}

.OthersItems, .skillsWebDevlopmentItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 4%;
}

.drawerItem{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.titledrawer{
  display: flex;
  align-items: center;   /* centrage vertical */
  justify-content: center;
  margin-right: 10px;
}

.titledrawer h3 {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}



.drawerWebDevelopmentSkills, .drawerOthersSkills{
  display: flex;
  flex-direction: row;
}

.AboutBackground {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutContent {
  transform-origin: center center;
  will-change: transform;
}


/* PROJECT */
.ProjectSection{
display: flex;
justify-content: center;
align-items: center;
}


.ContentProject{
  position: relative;
  height: 800px;
  width: 1500px;
  border: solid 3px rgb(255, 72, 0);
}
#imgFrontScreen{
  position: absolute;
  top: 47%;
  left: 50%;
  width: 49%;

  transform: translate(-50%, -50%);
  z-index: 2;

}

#imgCoteScreen{
  position: absolute;
  top: 52%;
  left: 12%;
  height: 82%;
  transform: translate(-50%, -50%);
}

#container3D{
  position: absolute;
  top: 65%;
  left: 88%;
  z-index: 10;
  width: 40%;

}

#container3Dimg{
  width: 580px;
  z-index: 15;
  position: relative;
}


/* Overlay */
.overlay {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 5;
}

/* Modal */
.modal {
  position: absolute;
  inset: 15px;
  background: #111;
  color: white;
  border-radius: 24px;
  padding: 40px;
  --x: 50vw;
  --y: 50vh;

  clip-path: circle(0px at var(--x) var(--y));
  transition: clip-path 0.8s cubic-bezier(.4,0,.2,1);
  opacity: 1;
  z-index: 10;
}

/* Active */
.overlay.active {
  pointer-events: auto;

}

.overlay.active .modal {
  clip-path: circle(150% at var(--x) var(--y));
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 50px;
}



#container3D.transitioned{
 
  z-index: 10;
  clip-path: circle(150% at var(--cx) var(--cy));
}