@import "tailwindcss";

/* Font */
@font-face {
  font-family: MontserratT;
  src: url(../../public/assets/font/Montserrat/static/Montserrat-Bold.ttf);
  /* font-weight: bold;*/
}

@font-face {
  font-family: NotoTTSans;
  src: url(../../public/assets/font/Noto_Sans/static/NotoSans-Regular.ttf);
  font-weight: thin;
}

@font-face {
  font-family: custom;
  src: url(../../public/assets/font/Noto_Sans/static/NotoSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: EduHand;
  src: url(../../public/assets/font/animal_chariot/Animal\ Chariot.ttf);
  font-weight: bold;
}


@font-face {
  font-family: OpenSans;
  src: url(../../public/assets/font/Open_Sans/static/OpenSans-Regular.ttf);
  

}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

/* NAV */
.itemNav{
  display: flex;
  flex-direction: column;
  background-color: #29292938 ;
  mix-blend-mode: difference;
  filter: invert(100%);


  border-radius: 25px 25px 25px 25px;
  padding: 10px;
}

.itemNav svg {
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;
  fill: #afafafea;
  width: 40px;

}

.itemNav svg:hover {
  background-color: #555555;
  margin: 3px 0px 3px 0px;
  padding: 1px;
  border-radius: 10%;
  fill: #292929;
  width: 40px;

}



/* HERO */
.HeroContent{
  height: 100vh;
  
  
}


.h3Hero{
  font-family: system-ui;
  font-size: 35px;
}

.HeroTitle{
  position: absolute;
  top: 27%;
  left: 9%;
}

.WNUAI-section{
  position: absolute;
  top: 1%;
  right: 0.7%;
}

.WNUAI-section h3{
  font-size: clamp(10px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
}
.WNUAI-section:hover h3{
  font-size: clamp(10px,2vw,20px);
  font-family: system-ui;
  font-weight: 600;
  text-decoration: underline;
}

.ImagePfp{
  position: absolute;
  top: 17%;
  right: 10%;
  width: 540px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImagePfp img{
  width: 100%;
  object-fit: contain;
}

.HeroBanner{
  position: absolute;
  top: 58%;
  left: 4%;
  width: 700px;
  font-size: clamp(20px,16vw,190px);
  font-family: MontserratT;
  font-weight: bold;
}

.ContourImagePfp{
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 10;
  fill: white;
}

.h3Hero{
  width: 800px;
  
}



.itemHeroSocials{
  
  display: flex;
  flex-direction: column;
  background-color: #202020 ;
  mix-blend-mode: difference;
  filter: invert(100%);
  gap: 5px;


  border-radius: 10px 0px 0px 10px;
  padding: 10px;
}

.itemHeroSocials svg {
  margin: 5px 1px 5px 3px;
  padding: 2px;
  border-radius: 10%;
  fill: #e7e7e7ea;
  width: 40px;

}

.itemHeroSocials svg:hover {
  background-color: #555555;
  margin: 5px 1px 5px 3px;
  padding: 1px;
  border-radius: 10%;
  width: 40px;

}


.HighLightSpan {
  position: relative;
}

.HighLightSpan::before{
	--mark-color: #fce07ddc;
	--mark-skew: 0.25em;
	--mark-height: 1em;
	--mark-overlap: 0.3em;


  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform-origin: left;

  scale: var(--p, 0) 1;



	margin-inline: calc(var(--mark-overlap) * -1);
	padding-inline: var(--mark-overlap);

	background-color: transparent;
	background-image:
		linear-gradient(
			to bottom right,
			transparent 50%,
			var(--mark-color) 50%
		),
		linear-gradient(
			var(--mark-color),
			var(--mark-color)
		),
		linear-gradient(
			to top left,
			transparent 50%,
			var(--mark-color) 50%
		)
	;
	background-size:
		var(--mark-skew) var(--mark-height),
		calc(100% - var(--mark-skew) * 2 + 1px) var(--mark-height),
		var(--mark-skew) var(--mark-height)
	;
	background-position:
		left center,
		center,
		right center
	;
	background-repeat: no-repeat;
	color: inherit;

  -webkit-box-decoration-break: clone;
	box-decoration-break: clone;

  

}

/* ABOUT */
.AboutBackground{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

}
.AboutContent{
  margin: 20px;
  border-radius: 20px;
  background-color: #323339;
  z-index: 1;
  width: 1000px;
  height: 500px;
}

@layer components {
  
  .noisy {
      @apply   size-full bg-[url("/assets/images/noise.png")];
  }
}